/* .back {
    background-color: rgb(180, 175, 175);
    border: 2px solid black;
    padding-left: 4%;
} */

/* #menu {
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 150%;
} */

.format {
    background-color: #343a40;
    color:white;
}

.format1 {
    margin-left: 15px;
    margin-right: 15px;
}
